#!/bin/bash

_apt_sourcemgr () {
  local cur=${COMP_WORDS[COMP_CWORD]}
  local prev=${COMP_WORDS[COMP_CWORD-1]}
  local dashed="{{ dashed_options | safe }}"
  local verbs="{{ verb_options | safe }}"
  if [[ -z "$cur"  ]]; then
    COMPREPLY=($(compgen -W "$dashed $verbs" -- "$cur"))
    return
  elif [[ $cur =~ ^- ]]; then
    COMPREPLY=($(compgen -W "$dashed" -- "$cur"))
    return
  else
    COMPREPLY=($(compgen -W "$verbs" -- "$cur"))
    return
  fi
}

complete -o default -F _apt_sourcemgr apt-sourcemgr
